* {
  box-sizing: border-box;
}

:root {
  --color-bg: #2c2c32;
  --color-active: #0f7dc6;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.active {
  position: relative;
  color: var(--color-active);
  cursor: default;
  /* Добавляем небольшой отступ справа, чтобы шарик не прилипал вплотную к буквам */
  padding-right: 14px;
}

.active::after {
  content: "";
  position: absolute;

  width: 8px;
  height: 8px;

  border-radius: 50%;

  background-color: var(--color-active);

  top: 54%;
  transform: translateY(-50%);

  right: 0;
}
